<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>





<info>
<message>[COLOR red]Main XML[/COLOR]</message>
</info>






<channels>

<channel>
    <name>[COLOR white]Live Tv [/COLOR]</name>
<thumbnail>http://www.dragoneg.com/plugin.video.livetv/icon.png</thumbnail>
<link>http://ignoreme</link>
<externallink>https://raw.githubusercontent.com/Kybo/Peoples-Mega-List/master/Peoples%20List/Australian/Live%20Tv.xml</externallink>
<fanart>http://www.logodesignlove.com/images/fifa/world-football-map.jpg</fanart>
</channel>
</channels>

<channels>

<channel>
    <name>[COLOR white]Cartoons [/COLOR]</name>
<thumbnail>http://www.angelfire.com/music5/thecartoons/images/Cartoons_-_Logo.gif</thumbnail>   
<link>http://ignoreme</link>
<externallink>https://raw.githubusercontent.com/Kybo/Peoples-Mega-List/master/Peoples%20List/Australian/Cartoons.xml</externallink>
<fanart>http://www.logodesignlove.com/images/fifa/world-football-map.jpg</fanart>
</channel>
</channels>

<channels>

<channel>
    <name>[COLOR white]Movies [/COLOR]</name>
<thumbnail>http://bestiptvworldwide.com/wp-content/uploads/2013/10/600_Movies_logo.jpg</thumbnail>
<link>http://ignoreme</link>
<externallink>https://raw.githubusercontent.com/Kybo/Peoples-Mega-List/master/Peoples%20List/Australian/Movies.xml</externallink>
<fanart>http://www.logodesignlove.com/images/fifa/world-football-map.jpg</fanart>
</channel>
</channels>

channels>

<channel>
    <name>[COLOR white]Documentaries [/COLOR]</name>
<thumbnail>http://cdn.tdfimg.com/wp-content/uploads/2014/04/documentary-shot.jpg</thumbnail>    
<link>http://ignoreme</link>
<externallink>https://raw.githubusercontent.com/Kybo/Peoples-Mega-List/master/Peoples%20List/Australian/Documentaries.xml</externallink>
<fanart>http://www.logodesignlove.com/images/fifa/world-football-map.jpg</fanart>
</channel>
</channels>

channels>

<channel>
    <name>[COLOR white]World News [/COLOR]</name>
<thumbnail>http://www.lyngsat-logo.com/hires/nn/news_world_tv_in.png</thumbnail>    
<link>http://ignoreme</link>
<externallink>https://raw.githubusercontent.com/Kybo/Peoples-Mega-List/master/Peoples%20List/Australian/World%20News.xml</externallink>
<fanart>http://www.logodesignlove.com/images/fifa/world-football-map.jpg</fanart>
</channel>
</channels>

channels>

<channel>
    <name>[COLOR white]Music [/COLOR]</name>
<thumbnail>http://graphic.ir/pictures/__2/___24/___couser_music_20121225_1329373078.jpg</thumbnail>    
<link>http://ignoreme</link>
<externallink>https://raw.githubusercontent.com/Kybo/Peoples-Mega-List/master/Peoples%20List/Australian/Music.xml</externallink>
<fanart>http://www.logodesignlove.com/images/fifa/world-football-map.jpg</fanart>
</channel>
</channels>

<channels>

<channel>
    <name>[COLOR white]Sports [/COLOR]</name>
<thumbnail>http://fc04.deviantart.net/fs71/i/2010/243/a/b/elite_sports_logo_2_by_s_havrisik-d2xqmsr.jpg</thumbnail>
<link>http://ignoreme</link>
<externallink>https://raw.githubusercontent.com/Kybo/Peoples-Mega-List/master/Peoples%20List/Australian/Sports.xml</externallink>
<fanart>http://www.logodesignlove.com/images/fifa/world-football-map.jpg</fanart>
</channel>
</channels>

